<launch>
    <arg name="output" default="screen"/>
    <arg name="write_bag" default="true"/>
    <arg name="exp_name" default="dflt_exp"/>

    <!-- <node name="bag_recorder" pkg="rosbag" type="record" args=" -o 
    /home/vittorio/ros_ws/src/adaptive_ctrl/bags/$(arg exp_name)
    \error \field \base_field \obv_trunc \des_trunc \des_angles" if="$(arg write_bag)"/> -->

    <arg name="exclude_topics" default="/pylon_camera_node(.*)|/base_img|/inserter_img|/phantom_img|/tentacle_img|/image|/diagnostics|/tf"/>

    <node name="bag_recorder" pkg="rosbag" type="record" args=" -o 
    /home/vittorio/ros_ws/src/adaptive_ctrl/bags/$(arg exp_name)
    -a -x $(arg exclude_topics) " if="$(arg write_bag)"/>

    <node pkg="launch_utils" type="record_view.py" name="record_view" output="screen">
        <!-- Set the input image topic -->
        <param name="image_topic" value="/pylon_camera_node/image_rect"/>
        <!-- Set the output video file -->
        <param name="file_name" value="$(arg exp_name)"/>
        <param name="codec" value="mp4v"/>
    </node>

    <node pkg="launch_utils" type="record_rviz.py" name="record_rviz" output="screen">
        <!-- Set the input image topic -->
        <!-- Set the output video file -->
        <param name="file_name" value="$(arg exp_name)"/>
    </node>

</launch>